DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"
NEXT_PUBLIC_SUPABASE_URL=https://XXX.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=KEY_SUPABASE
BETTER_AUTH_SECRET="super-secret-key"
BETTER_AUTH_URL="http://localhost:3000"
